# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
*.env

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.sqlite3
local_settings.py
.env.*

# Virtual environments
pip-log.txt
pip-delete-this-directory.txt

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test and coverage files
.coverage
.tox/
.nox/
.cache/
pytest_cache/
htmlcov/

# MyPy and Pyright
.mypy_cache/
.pyright/

# Jupyter Notebooks
.ipynb_checkpoints/

# Other
*.swp
*.swo
*.bak
*.tmp
